* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100svh;
  width: 100%;
  /* overflow: hidden; */
  touch-action: none;
}
#my-canvas {
  height: 100%;
  width: 100%;
  background-color: black;
}

#my-video {
  height: 100svh;
  width: 100%;
  background-color: black;
}
